BREWPOS_FIREBASE_API_KEY=AIzaSy...
BREWPOS_FIREBASE_AUTH_DOMAIN=brewpos-5856a.firebaseapp.com
BREWPOS_FIREBASE_PROJECT_ID=brewpos-5856a
BREWPOS_FIREBASE_STORAGE_BUCKET=brewpos-5856a.appspot.com
BREWPOS_FIREBASE_SENDER_ID=...
BREWPOS_FIREBASE_APP_ID=...
